@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* Colors */

/* Primary */

$primaryCDarkBlue: hsl(233, 26%, 24%);
$primaryCLimeGreen: hsl(136, 65%, 51%);
$primaryCBrightCyan: hsl(192, 70%, 51%);

/* Neutral */

$neutralGrayishBlue: hsl(233, 8%, 62%);
$neutralLightGrayishBlue: hsl(220, 16%, 96%);
$neutralVeryLightGray: hsl(0, 0%, 98%);
$neutralWhite: hsl(0, 0%, 100%);


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    background-color: green;
    overflow-x: hidden;
}

$paddingForHeaderElements: 13px;

header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    background-color: $neutralWhite;
    justify-content: center;
    position: sticky;
    font-size: 1rem;
    z-index: 10;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 30%;
    height: auto;
}

header nav {
    display: flex;
    gap: 25px;
    height: 100%;
    color: $neutralGrayishBlue;
}

$border-tickness: 4px;

header nav div {
    padding: calc($paddingForHeaderElements*2) 0;
    border-bottom: $border-tickness solid $neutralWhite;
    transition: 0.1s ease-in-out;
}

header nav div:hover {
    border-bottom: $border-tickness solid;
    border-image-source: linear-gradient(to right, $primaryCLimeGreen, $primaryCBrightCyan);
    border-image-slice: 1;
    transition: 0.1s ease-in-out;
}

#request-button span {
    padding: $paddingForHeaderElements calc($paddingForHeaderElements*2.3);
    border-radius: 25px;
    color: $neutralWhite;
    background-image: linear-gradient(to right, $primaryCLimeGreen, $primaryCBrightCyan);
}


#hero {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-position: 270% 60%;
    background-image: url("../assets/bg-intro-desktop.svg");
    background-repeat: no-repeat;
}

#mockups-image-container {
    position: relative;
}

#mockups-image-container img {
    width: 95%;
    height: auto;
    position: absolute;
    top: -19%;
    right: -12%;
}